.arrows-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s transform;

    &:hover {
      color: $font-color !important;
      transform: translateY(20px);
    }
}

.landing-arrows {
    position: absolute;
    top: calc(100vh - 100px);

    .bottom-arrow {
        top: -30px;
    }
    
    &>* {
        position: relative;
    }
}
