$background-color: #282C34;
$font-color: #FFF;
$font-color-transparent: rgb(255 255 255 / 0%);
$link-color: $font-color;
$link-color-transparent: $font-color-transparent;
$link-color-hover: #737373;
$mobile-width: 600px;
$close-color: #D95F6A;
$passive-color: #989EAC;
$editor-main: #4C7776;
