/* stylelint-disable no-descending-specificity */

#whoami-header {
  text-align: left;
}

#whoami {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 25px;

  a {
    color: $font-color;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      top: 35%;
      transform: translateY(-50%);
      width: 20px;
      aspect-ratio: 1;
      filter: invert(1);
      transition: all 0.3s ease-in-out;
      background-image: url('../../public/assets/web.svg');
      background-size: contain;
      background-repeat: no-repeat;
      pointer-events: none;
    }

    &:hover::after {
      filter: invert(0.6);
    }
  }
}

#whoami-intro {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 30px;

  #whoami-text {
    margin: 0;
    margin-left: 20px;

    #whoami-age {
      color: $age-color;
    }
  }

  img {
    border-radius: 10%;
  }
}

#whoami-dotfiles, #whoami-socials {
  p {
    text-align: center;
  }

  #whoami-dotfiles-list, #whoami-socials-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    justify-content: center;

    i {
      font-size: 35px;
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 30px;
      border-radius: 20px;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: rgba($font-color, 0.1);
      }
    }
  }
}

#whoami-technologies {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
  }

  #whoami-technologies-list {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;

    i {
      font-size: 35px;
      transition: all 0.3s ease-in-out;
      padding: 5px;
      border-radius: 7px;

      &:hover {
        background-color: $font-color;
        transform: scale(1.2);
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 700px) {
  #whoami-intro {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;

    #whoami-text {
      text-align: left;
    }
  }

  #whoami-technologies {
    justify-content: center;
  }
}
