#whoami-header {
  text-align: left;
}

#whoami {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#whoami-into {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 30px;

  #whoami-text {
    margin: 0;
    margin-left: 20px;
  }

  img {
    border-radius: 10%;
  }

  #whoami-technologies {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
