@import './sheets/variables';
@import './sheets/fonts';
@import './sheets/basics';
@import './sheets/animations';
@import './sheets/landing';
@import './sheets/about';
@import './sheets/projects';
@import './sheets/languages-wrapper';
@import './sheets/arrows-container';
@import './sheets/under-construction';
@import './sheets/languages';
@import './sheets/socials';
@import './sheets/css-box';
@import './sheets/restart-animation';
@import './pages/projects_index';

body {
  font-weight: 100 !important;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
  color: $font-color;
  background-color: $background-color;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

#top-of-page {
  width: 100%;
}

a {
  color: $link-color;

  &:hover {
    color: $link-color-hover !important;
  }
}

textarea {
  font-family: inherit;
}

.back {
  position: absolute;
  left: 20px;

  img {
    transform: rotate(180deg);
  }
}

.tinted img {
  filter: invert(1);
  transition: filter 0.2s ease;

  &:hover {
    filter: invert(0.8);
  }
}

.chapter-title {
  width: 100%;
  text-align: center;
}

.icon-link {
  font-size: 20px;

  &:hover {
    filter: invert(0.6);
  }

  span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}


// .js {
//     color: #f0dc5a;
// }

// .rb {
//     color: #e80015;
// }

// .py {
//     color: #2b5e95;
// }

// .java {
//     color: #dd590b;
// }

// .rs {
//     color: #eb3409;
// }
